

@media (max-width: 576px) {
    .container {
        width: 300px;
    }
    .logo {
        font-size: 30px;
    }
    .promo {
        &__title {
            width: 300px;
            font-size: 30px;
            line-height: 55px;
        }
        &__item {
            width: 300px;
        }
        &__descr {
            left: 7px;
        }
        &__subtext {
            font-size: 14px;
        }
    }
    .about {
        &__descr {
            width: 300px;
        }
        &__text {
            grid-template-rows: repeat(2,330px);
        }
        &__statistic {
            grid-template-columns: 1fr;
        }
    }
}