

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .promo {
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__btn {
            display: block;
            margin: 60px auto 0px auto;
        }
        &__videos {
            &-wrapper {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__wrapper {
            grid-template-rows: 450px 430px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__history {
            &-wrapper {
                width: 235px;
                margin: 60px auto 0px auto;
            }
        }
        &__text {
            grid-template-columns: 1fr;
        }
        &__descr {
            width: 540px;
        }
        &__statistic {
            margin-top: -20px;
            grid-template-columns: repeat(2,255px);
        }
    }
    .gallery {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__img {
            display: none;
        }
        &__title {
            text-align: center;
        }
        &__text {
            width: 250px;
            text-align: center;
            margin: 0 auto;
        }
        &__social {
            width: 245px;
            margin: 20px auto;
            grid-template-columns: 37px 210px;
        }
        &__caption {
            padding-top: 30px; 
        }
    }
    .contact {
        &__bg {
            grid-template-columns: 1fr;
        }
        &__subwrapper {
            margin: 0 auto;
        }
    }
    .footer {
        &__menu {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
        &__links {
            ul {
                li {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 300px;
    }
    .logo {
        font-size: 30px;
    }
    .promo {
        &__title {
            width: 300px;
            font-size: 30px;
            line-height: 55px;
        }
        &__item {
            width: 300px;
        }
        &__descr {
            left: 7px;
        }
        &__subtext {
            font-size: 14px;
        }
    }
    .about {
        &__descr {
            width: 300px;
        }
        &__text {
            grid-template-rows: repeat(2,330px);
        }
        &__statistic {
            grid-template-columns: 1fr;
        }
    }
}