.about {
    min-height: 900px;
    padding-top: 190px;
    background: url('../../img/about/about_bg.png') no-repeat 50%/cover;
    &__wrapper {
        display: grid;
        grid-template-columns: 1065px 240px;
        justify-content: space-between;
        @include for-desktop-up {
            grid-template-columns: 840px 250px;
            justify-content: initial;
            column-gap: 60px;
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        color: #333333;
        span {
            color: #FF7474;
        }
    }
    &__text {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(2, 513px);
        justify-content: space-between;
        div {
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #000000;
            line-height: 40px;
        }
        @include for-desktop-up {
            grid-template-columns: repeat(2, 400px);
            justify-content: initial;
            column-gap: 30px;
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
        }
    }
    &__descr {
        @include for-tablet-landscape-up {
            grid-column: 1 / 4;
        }
        @include for-tablet-portrait-up {
            grid-column: 1 / 4;
            width: 100%;
        }
    }
    &__statistic {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(4, 237px);
        justify-content: space-between;
        @include for-tablet-landscape-up {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 30px;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30;;
            margin-top: 30px;
        }
    }
    &__number {
        font-weight: 700;
        color: #FF7474;
        font-size: 48PX;
    }
    &__caption {
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
    &__history {
        &-wrapper {
            margin-top: 120px;
            position: relative;
            @include for-tablet-landscape-up {
                margin-top: 30px;
            }
            @include for-tablet-portrait-up {
                width: 235px;
                margin: 60px auto 0px auto;
            }
        }
    }
    &__name {
        position: absolute;
        top: 70px;
        left: 80px;
        font-family: 'Montserrat', sans-serif;
        width: 170px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
    @include for-tablet-landscape-up {
        padding-top: 150px;
    }
    @include for-tablet-portrait-up {
        padding-top: 155px;
    }
}