.contact {
    max-width: 1600px;
    min-height: 870px;
    &__bg {
        padding-top: 150px;
        display: grid;
        grid-template-columns: 940px 403px;
        grid-template-rows: 570px;
        justify-content: space-between;
        &-left {
            background: url('../../img/mikli-img.png') no-repeat 50%/cover; 
            position: relative;
        }
        @include for-desktop-up {
            grid-template-columns: 2fr 1fr;
            column-gap: 60px;
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr;
            padding-top: 40px;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
            padding-top: 40px;
        }
        
    }
    &__wrapper {
        position: absolute;
        bottom: 60px;
        right: 66px;
    }
    &__caption {
        color: #ffffff;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: right;
    }
    &__subcaption {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        text-align: right;
        opacity: 0.7;
    }

    &__subwrapper {
        padding-top: 60px;
        width: 403px;
        @include for-tablet-landscape-up {
            margin: 0 auto;
            padding-top: 30px;
        }
        @include for-tablet-portrait-up {
            margin: 0 auto;
            padding-top: 30px;
        }
    }
    &__title {

    }
    &__text {
        margin-top: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }
    &__form {
        margin-top: 35px;
        input {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: #000000;
            border: 2px solid #FF7474;
            width: 375px;
            height: 71px;
            padding: 24px 35px;
        }
    }
    &__btn {
        margin-top: 55px;
        width: 375px;
        height: 71px;
        font-size: 20px;
    }
}