.footer {
    min-height: 625px;
    background: url('../../img/footer_bg.png') no-repeat 50%/cover;
    position: relative; 

    &__wrapper {
        padding-top: 410px;
        @include for-tablet-landscape-up {
            padding-top: 245px;
        }
        @include for-tablet-portrait-up {
            padding-top: 80px;
        }
    }
    &__head {
        width: 615px;
        display: grid;
        grid-template-columns: 165px 335px;
        grid-template-rows: 60px;
        justify-content: space-between;
        align-items: center;
        @include for-tablet-landscape-up {
            width: 100%;
        }
        @include for-tablet-portrait-up {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
        @include for-phone-only {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
    }
    &__bottom {
        width: 100%;
        margin-top: 65px;
        display: grid;
        grid-template-columns: 665px 145px;
        grid-template-rows: 30px;
        justify-content: space-between;
        align-items: center;
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
        }
    }
    &__logo {
        font-weight: 400;
        font-style: italic;
        font-size: 40px;
        line-height: 58px;
        color: #FF7474;
        @include for-tablet-portrait-up {
            text-align: center;
        }
        @include for-phone-only {
            text-align: center;
        }
    }
    &__menu {
        ul {
            list-style-type: none;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            li {
                font-family: 'Montserrat', sans-serif;
                display: inline;
                color: #000000;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                @include for-tablet-portrait-up {
                    font-size: 20px;
                }
            }
        }
    }
    &__links {
        ul {
            list-style-type: none;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            li {
                font-family: 'Montserrat', sans-serif;
                display: inline;
                color: #000000;
                font-weight: 500;
                font-size: 14px;
                line-height: 30px;
                @include for-tablet-portrait-up {
                    font-size: 17px;
                }
            }
            @include for-tablet-portrait-up {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
        
    }
    &__social {
        display: flex;
        justify-content: space-between;
        @include for-tablet-landscape-up {
            width: 200px;
            margin: 40px auto 0px auto;
        }
        @include for-tablet-portrait-up {
            width: 200px;
            margin: 40px auto 0px auto;
        }
    }
    @include for-tablet-landscape-up {
        min-height: 500px;
    }
    @include for-tablet-portrait-up {
        min-height: 400px;
    }
}