.gallery {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 514px);
        justify-content: space-between;
    }
    &__item {
        &:nth-child(1) {
            .gallery__img {
                &:nth-child(1) {
                    padding-top: 50px;
                    padding-bottom: 40px;
                }
            }
        }
        &:nth-child(2) {
            .gallery__img {
                &:nth-child(1) {
                    padding-top: 120px;
                    padding-bottom: 40px;
                }
            }
        }
        &:nth-child(3) {
            .gallery__img {
                padding-top: 40px;
            }
        }
        
    }
    &__caption {
        width: 370px;
        margin: 0 auto;
    }
    &__title {
        span {
            color: #FF7474;
        }
    }
    &__text {
        width: 370px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    &__social {
        margin-top: 40px;
        display: grid;
        width: 370px;
        grid-template-columns: 37px 270px;
        column-gap: 20px;
        align-items: center;
        &-more {
            font-weight: 500;
            font-size: 15px;
            color: #c6c6c6;
            line-height: 22px;
            span {
                color: #FF7474;
            }
        }
    }
}